<nav class="navbar navbar" role="navigation" id="nav-header" ng-if="show_header" ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">在线教学系统</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav">
            <li><a ng-click="go('lessons/index')">课程</a></li>
        </ul>
    </div>
    <div id="log-out">
        <ul ng-click="sign_out()">
            <li>
                <a>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="login-area">
        <ul class="list-inline">
            <li class="search_info">
                <input class="search-input" placeholder="请输入搜索内容..." type="text" autocomplete="off" ng-if="header_search.input_show" ng-model="header_search.search_info">
            </li>
            <li class="search_btn">
                <i class="fa fa-search" ng-click="header_search.open()"></i>
            </li>
            <li class="my-message">
                <a>
                    <i class="fa fa-commenting-o"></i>
                </a>
            </li>
            <li class="manage-lessons">
                <a ng-click="go_manager_lessons()">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li class="header-avator">
                <a ng-click="go_me()">
                    <img ng-src="{{icon.url}}" width="{{icon.width}}" height="{{icon.width}}">
                </a>
            </li>
        </ul>
    </div>
</nav>
