<div id="lesson-page">
    <div class="lesson-info" ng-show="!show_resource">
        <div class="pre">
            <div class="lesson-title">
                <h1>{{current_lesson.name}}</h1>
            </div>
            <div class="lesson-infos clearfix">
                <div class="infos-item">
                    <span class="meta">专业:</span>
                    <span class="meta-value">
                            <strong>{{current_lesson.major.name}}</strong>
                    </span>
                </div>
                <div class="infos-item">
                    <span class="meta">教师:</span>
                    <span class="meta-value">
                            <strong>{{current_lesson.teacher.name}}</strong>
                    </span>
                </div>
                <div class="infos-item">
                    <span class="meta">订阅人数:</span>
                    <span class="meta-value">
                            <strong>{{current_lesson.mark_sum}}</strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="resource" ng-if="show_resource">
        <just-video video-url="video_url" video-process="current_lesson.video_process"></just-video>
    </div>
    <div class="lesson-info-main">
        <div class="content-wrap col-xs-12">
            <div class="content col-xs-8">
                <div ng-hide="need_learn  || show_resource">
                    <span class="progress-info">
                        <span class="progress-info-percent">
                            <strong>{{current_lesson.video_process * 100 | number: 1}}</strong>
                            %
                        </span>
                    </span>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width: current_lesson.video_process * 100 + '%'}">
                        </div>
                    </div>
                </div>
                <div class="lesson-brief">
                    <h3 class="ctit">课程介绍</h3>
                    <p class="brief-content" ng-bind-html="current_lesson.introduction | replaceBr | string_trusted"></p>
                </div>
                <div class="lesson-main-content">
                    <div class="nav-bars">
                        <ul class="nav nav-tabs">
                            <li ng-class="{active: active_type == 'show_outline'}" ng-click="change_active('show_outline')" ng-if="lesson_outline_list.length > 0">
                                <a><i class="fa fa-bars" aria-hidden="true" ></i>课程章节</a></li>
                            <li ng-class="{active: active_type == 'show_syllabus'}" ng-click="change_active('show_syllabus')" ng-if="current_lesson.syllabus != '' ">
                                <a><i class="fa fa-bars" aria-hidden="true"></i>教学大纲</a></li>
                            <li ng-class="{active: active_type == 'show_experiment'}" ng-click="change_active('show_experiment')" ng-if="current_lesson.experiment != '' ">
                                <a><i class="fa fa-bars" aria-hidden="true"></i>实验指导书</a></li>
                            <li ng-class="{active: active_type == 'show_comment'}" ng-click="change_active('show_comment')">
                                <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>评论({{comments.length}})</a></li>
                        </ul>
                    </div>
                    <div ng-show="active_type == 'show_outline'">
                        <div class="outline-list">
                            <ul>
                                <li class="chapter clearfix" ng-repeat="chapter in lesson_outline_list |orderBy: order: false" ng-click="show_chapter_video(chapter)" ng-disabled="!chapter.video_url">
                                    <i class="chapter-icon"></i>
                                    <div class="chapter-body">
                                        <h5 class="chapter-name">第{{chapter.order}}章: {{chapter.name}}</h5>
                                        <p class="chapter-desc">{{chapter.content}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="active_type == 'show_syllabus'">
                        <div class="syllabus" ng-bind-html="current_lesson.syllabus | replaceBr | string_trusted">
                        </div>
                    </div>
                    <div ng-show="active_type == 'show_experiment'">
                        <div class="experiment" ng-bind-html="current_lesson.experiment | replaceBr | string_trusted">
                        </div>
                    </div>
                    <div ng-show="active_type == 'show_comment'">
                        <div class="my_content">
                            <textarea cols="25" placeholder="这里可以畅所欲言哦" ng-model="my_comment"></textarea>
                            <input type="button" class="btn btn-info" value="发表" ng-disabled="!my_comment" ng-click="submit_comment()"></input>
                        </div>
                        <div class="evaluation" ng-repeat="comment in comments | orderBy: create_time:true">
                            <div class="user_avatar col-xs-1">
                                <img ng-src="{{comment.create_user.icon.url}}">
                            </div>
                            <div class="comment_box col-xs-11">
                                <div class="user_name">{{comment.create_user.name}}</div>
                                <div class="comment_time">{{comment.create_time}}</div>
                                <div class="floor">{{$index + 1}}楼</div>
                                <div class="delete_comment fa fa-trash" data-placement="top" data-title="删除该评论" data-trigger="hover" bs-tooltip ng-if="comment.create_user.id == current_user.id" ng-click="delete_comment(comment)"></div>
                                <p>{{comment.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-aside col-xs-4">
                <div class="lesson-order col-xs-12" ng-click="start_or_continue()" ng-show="!show_resource">{{btn_content}}</div>
                <div class="wish col-xs-12" ng-show="!show_resource && current_lesson.wish">
                    <div>
                        <h3>教师寄语</h3>
                        <div class="wish-content">
                            {{current_lesson.wish}}
                        </div>
                    </div>
                </div>
                <div class="resource-info col-xs-12" ng-if="!need_learn && current_lesson.attachment_list.length">
                    <h3>相关资源列表:</h3>
                    <div class="resource-list">
                        <div ng-repeat="attachment in current_lesson.attachment_list">
                            <a ng-href="{{attachment.url}}">{{attachment.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
