<div id="creat_lesson" ng-show="active_type == 'creat_lesson'">
    <div class="upload_file_progress" ng-show="upload.get_token_promise_array.length">
        <h4>已选文件: </h4>
        <div class="file-info col-xs-12" ng-repeat="get_token_promise_obj in upload.get_token_promise_array">
            <div class="file-name col-xs-10"><strong>{{$index + 1}}</strong> {{get_token_promise_obj.file.name}}</div>
            <i class="fa fa-times col-xs-2" aria-hidden="true" ng-click="upload.abort(get_token_promise_obj.file,upload.get_token_promise_array,$index)" ng-disabled="get_token_promise_obj.file.progress.p == 100" data-placement="top" data-title="取消上传" data-trigger="hover" data-type="info" bs-tooltip></i>
            <div class="progress progress-striped col-xs-12" ng-class="{active: get_token_promise_obj.file.progress.p < 100}">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width: get_token_promise_obj.file.progress.p + '%'}">
                </div>
                <strong ng-show="get_token_promise_obj.file.progress.p > 0">{{get_token_promise_obj.file.progress.p}}%</strong>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">课程图片:</label>
            <div class="col-sm-10">
                <div class="icon">
                    <buttton ng-file-select="upload.onFileSelect($files)" data-placement="top" data-title="点击上传头像" data-trigger="hover" data-type="info" bs-tooltip onclick="this.value = null" class="btn btn-default choose_btn"><i class="fa fa-plus" aria-hidden="true"></i>上传图片</buttton>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">名称:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入课程名称" ng-model="new_lesson.name">
            </div>
        </div>
        <div class="form-group major">
            <label class="col-sm-2 control-label">专业:</label>
            <div class="col-sm-10">
                <select ng-model="chosen_college" ng-options="college.name for college in colleges" class="form-control" ng-change="change_college(chosen_college)">
                    <option value="">-- 所有 --</option>
                </select>
                <select ng-model="chosen_major" ng-options="major.name for major in majors" class="form-control" ng-change="change_major(chosen_major)">
                    <option value="">-- 所有 --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">课程简介:</label>
            <div class="col-sm-10">
                <textarea class="form-control" placeholder="请输入课程简介" ng-model="new_lesson.introduction"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">课程短描述:</label>
            <div class="col-sm-10">
                <textarea class="form-control" placeholder="请输入课程描述" ng-model="new_lesson.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">教师寄语:</label>
            <div class="col-sm-10">
                <textarea class="form-control" placeholder="请输入教师寄语" ng-model="new_lesson.wish"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">上传视频:</label>
            <div class="col-sm-10">
                <div class="icon">
                    <buttton ng-file-select="upload.onFileSelect($files)" data-placement="top" data-title="点击上传附件,可多文件选取"  data-trigger="hover" data-type="info" bs-tooltip onclick="this.value = null" class="btn btn-default choose_btn"><i class="fa fa-plus" aria-hidden="true"></i>添加视频</buttton>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">课程提纲:</label>
            <div class="col-sm-10">
                <div class="col-sm-1 out_line_plus">
                    <i class="fa fa-plus" aria-hidden="true" ng-click="new_lesson.open_outline_plus_modal()"></i>
                </div>
                <div class="col-sm-9">
                    <!-- ngModel is optional -->
                    <div class="panel-group" ng-model="new_lesson.temp_outline_list.active_outline_index" role="tablist" aria-multiselectable="true" bs-collapse>
                        <div class="panel panel-default" ng-repeat="temp_outline_item in new_lesson.temp_outline_list track by $index">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                            <a bs-collapse-toggle>
                              第{{ temp_outline_item.chapter }}章:  {{temp_outline_item.name}} 
                            </a>
                            <span>
                                <i class="fa fa-trash" aria-hidden="true" ng-click="new_lesson.remove_temp_outline(temp_outline_item)" data-placement="right" data-title="删除此提纲" data-trigger="hover" data-type="info" bs-tooltip></i>
                                <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="new_lesson.open_outline_edit_modal(temp_outline_item)" data-placement="left" data-title="编辑此提纲" data-trigger="hover" data-type="info"bs-tooltip></i>
                          </span>
                        </h4>
                            </div>
                            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                <div class="panel-body">
                                    {{ temp_outline_item.introduction }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">上传附件:</label>
            <div class="col-sm-10">
                <div class="icon">
                    <buttton ng-file-select="upload.onFileSelect($files)" data-placement="top" data-title="点击上传附件,可多文件选取" data-multiple="true" data-trigger="hover" data-type="info" bs-tooltip onclick="this.value = null" class="btn btn-default choose_btn"><i class="fa fa-plus" aria-hidden="true"></i>添加附件</buttton>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info  submit_btn" ng-click="create_lesson()">创建</button>
            </div>
        </div>
    </div>
