<div id="created_lessons" ng-show="active_type == 'created_lessons'">
    <!-- Smart-Table plugin-->
    <table st-table="useful_lessons" st-safe-src="useful_lessons_list" class="table table-hover">
        <thead >
            <tr >
                <th>序号</th>
                <th>课程名称</th>
                <th st-sort="major">所属专业</th>
                <th st-sort="subscribe_amount">订阅人数</th>
                <th st-sort="created_time">创建时间</th>
                <th st-sort="updated_time">更新时间</th>
                <th>操作</th>
            </tr>
            <tr>
                <th colspan="7">
                    <input st-search="name" class="form-control" placeholder="搜索课程名称" type="text" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr st-select-row="row" ng-repeat="lesson in useful_lessons" ng-class="{active: $index % 4 == 0 , success: $index % 4 == 1 , warning: $index % 4 == 2, danger: $index % 4 == 3}">
                <td>{{$index}}</td>
                <td>{{lesson.name}}</td>
                <td>{{lesson.major.name}}</td>
                <td>{{lesson.mark_sum}}</td>
                <td>{{lesson.create_time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{lesson.update_time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="edit(lesson)" data-placement="left" data-title="编辑基本信息" data-trigger="hover" data-type="info" bs-tooltip></i>
                    <i class="fa fa-list-ol" aria-hidden="true" ng-click="outlineEdit.open_outline_partial(lesson)" data-placement="left" data-title="编辑章节信息" data-trigger="hover" data-type="info" bs-tooltip></i>
                    <i class="fa fa-trash" aria-hidden="true" ng-click="delete(lesson)" data-placement="right" data-title="删除" data-trigger="hover" bs-tooltip></i>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2"></div>
                </td>
                <td colspan="2" class="text-center">
                  <input type="number" class="form-control" placeholder="请输入数字" ng-model="itemsByPage"></input>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
