<div id="manage-lesson-page">
    <div class="setting-left">
        <ul>
            <li ng-click="change_active('creat_lesson')" ng-class="{active: active_type == 'creat_lesson'}">新建课程</li>
            <li ng-click="change_active('created_lessons')" ng-class="{active: active_type == 'created_lessons'}">课程管理</li>
            <li ng-click="change_active('lesson_outline')" ng-class="{active: active_type == 'lesson_outline'}">章节管理</li>
        </ul>
    </div>
    <div class="setting-right">
        <div ng-include="partial('/manage_lesson/created_lessons')" include-replace></div>
        <div ng-include="partial('/manage_lesson/creat_lesson')" include-replace></div>
        <div ng-include="partial('/manage_lesson/lesson_outline')" include-replace></div>
    </div>
</div>
