<div id="setting_password" ng-show="active_type == 'setting_password'">
    <div class="change_password_wrap form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">当前密码:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control " ng-model="old_password" placeholder="请输入当前密码"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">新密码:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="new_password" placeholder="请输入新密码"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">确认密码:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="new_password_again" placeholder="请再次输入新密码"></input>
            </div>
        </div>
        	<input type="button" class="btn btn-info" value="确认"></input>
    </div>
</div>
