<div id="setting_lessons" ng-show="active_type == 'setting_lessons'" ng-controller="settingLessonsCtrl">
    <div>
	<div ng-file-select="onFileSelect($files)" data-multiple="true" title="select file" onclick="this.value = null" class="btn btn-upload">Click here to select file</div>
        <ol>
            <li ng-repeat="(k,v) in selectFiles">
                {{v.file.name}} - {{v.progress.p}}% <button ng-click="abort(k)">x</button>
            </li>
        </ol>
    </div>
    <!-- Smart-Table plugin-->
    <table st-table="useful_lessons" class="table table-striped">
        <thead>
            <tr>
                <th>课程名称</th>
                <th st-sort="created_time">创建时间</th>
                <th st-sort="updated_time">更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <th>
                <input st-search="name" placeholder="搜索课程名" class="input-sm form-control" type="search" />
            </th>
            <!-- some problems with st-select-row to select one row-->
            <tr st-select-row="row" ng-repeat="lesson in useful_lessons">
                <td>{{lesson.name}}</td>
                <td>{{lesson.created_time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{lesson.updated_time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                	<input type="button" class="btn btn-sm btn-info" value="编辑" ng-click="edit(lesson)"></input>
                    <input type="button" class="btn btn-sm btn-info" value="删除" ng-click="delete(lesson)"></input>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    <just-modal  can-show="show_edit_lesson_modal"></just-modal>
</div>
